*vgcore*
*.h~
*.c~
*.in~
*.o
*.lo
*.la
**Source.tar.gz
scripts/*csv
scripts/*R
scripts/*sh
build
.cache
Makefile
Makefile.in
INSTALL
aclocal.m4
autom4te.cache/
compile
configure
configure.scan
depcomp
install-sh
missing
test-driver


